{% extends '_procedura.html' %}
{% block content %}
<div class="row section section-light">
    <div col="col-sm-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quia voluptate adipisci ducimus eveniet provident, voluptatibus fugiat temporibus accusantium. Ipsa dolores facilis doloribus incidunt suscipit nisi aspernatur asperiores repudiandae quibusdam.</p>
    <p>Dolorum quis dolorem esse itaque deleniti quisquam fugit soluta accusamus, sit debitis ea. Assumenda nesciunt non aperiam delectus esse labore repellendus, repudiandae, molestias aliquam illum nisi cum voluptates omnis quibusdam?</p>
    <p>Molestias non distinctio ratione nesciunt magni magnam, voluptate ab quos recusandae ullam natus libero nulla corporis itaque maxime eum et ea mollitia architecto laborum, sunt quisquam aliquam nemo. Maxime, voluptatibus!</p>
    <p>Quos iure officiis saepe totam nam voluptates, obcaecati veritatis commodi quisquam? Reiciendis quos velit atque dolorem dolorum quaerat quia praesentium aliquid iusto, eum minus id enim sapiente ullam nobis. At.</p>
    </div>
</div>
{% endblock %}
